In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("tips.csv")
df["tip_pct"] = df["tip"] / df["total_bill"]

In [8]:
# get the top n with the largest value by certain column
def top(column):
    def inner(df, n=5):
        return df.sort_values(by=column)[-n:]
    return inner

In [9]:
top("tip_pct")(df, n=10)

     total_bill   tip     sex smoker   day    time  size   tip_pct
51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
221       13.42  3.48  Female    Yes   Fri   Lunch     2  0.259314
93        16.32  4.30  Female    Yes   Fri  Dinner     2  0.263480
149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [10]:
# use groubpy and apply to apply the top function on each group
df.groupby("smoker").apply(top("tip_pct"))
# the apply take a function which takes only a dataframe as parameter

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [14]:
# in order to use other parameters
df.groupby(["smoker", "day"]).apply(top("tip_pct"), n=1)

                 total_bill   tip     sex smoker   day    time  size   tip_pct
smoker day
No     Fri  223       15.98  3.00  Female     No   Fri   Lunch     3  0.187735
       Sat  232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
       Sun  51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       Thur 149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
Yes    Fri  93        16.32  4.30  Female    Yes   Fri  Dinner     2  0.263480
       Sat  67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       Sun  172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345
       Thur 194       16.58  4.00    Male    Yes  Thur   Lunch     2  0.241255

In [17]:
# to not see  the group key of smoker
df.groupby("smoker", group_keys=False).apply(top("tip_pct"))

     total_bill   tip     sex smoker   day    time  size   tip_pct
88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

# use cut and qcut for bucket analysis

In [21]:
# these 2 methods are used for dealing with continuous data
frame = pd.DataFrame({"data1": np.random.randn(1000), "data2": np.random.randn(1000)})

In [35]:
# try use qcut for evenly cut the data into different group that has same number of entries
# quantiles = pd.qcut(frame.data1, 4)
quantiles = pd.cut(frame.data1, 4)
quantiles[:10]

0     (-0.084, 1.831]
1     (-0.084, 1.831]
2    (-1.999, -0.084]
3    (-1.999, -0.084]
4     (-0.084, 1.831]
5     (-0.084, 1.831]
6    (-1.999, -0.084]
7     (-0.084, 1.831]
8    (-1.999, -0.084]
9     (-0.084, 1.831]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.922, -1.999] < (-1.999, -0.084] < (-0.084, 1.831] < (1.831, 3.746]]

In [36]:
quantiles.value_counts()

(-0.084, 1.831]     496
(-1.999, -0.084]    439
(1.831, 3.746]       44
(-3.922, -1.999]     21
Name: data1, dtype: int64

In [28]:
# assign the data2 column into different groups belonging to different categories
grouped = frame.data2.groupby(quantiles)

In [29]:
for key, group in grouped:
    print(key, group)

(-3.922, -1.999] 23     0.272677
30     0.344670
97    -1.483351
106    1.232927
156   -0.411909
169   -1.196814
209   -1.264270
250   -0.406272
453   -0.431471
466    0.035235
665    1.056758
702   -0.464063
804   -0.033190
880   -1.349395
881    0.938370
903   -0.871085
927   -0.099982
949    0.658918
962   -0.747305
970   -0.802865
988   -0.889948
Name: data2, dtype: float64
(-1.999, -0.084] 2      1.368000
3     -0.316689
6     -1.408408
8     -0.210977
11     0.501605
20    -0.895410
21     0.476781
24     1.363385
25     0.960387
27     0.342705
29    -1.579487
31     0.929044
33     0.152795
34    -1.380547
36     0.582507
38    -1.592103
40     2.344986
41    -0.494045
44    -0.637021
45    -0.431076
46     0.116839
47    -0.898784
49    -2.317502
50    -1.174427
53    -0.197442
54     1.031092
55     0.775646
56    -1.146195
57    -1.686900
58     1.337118
         ...
934   -0.544457
935   -0.093187
936    0.620694
938    0.360497
941    0.644301
942   -0.132027
945    0.094756
947    0.123662
948   -1.589875
953    0.115642
958   -0.290124
959    0.081343
961   -1.539106
963   -1.029377
965   -0.555801
966    0.566678
967    0.672327
968   -0.233942
971   -0.837458
973   -0.974719
976   -0.096381
978   -0.381368
979   -0.723417
980    0.324087
982   -1.817198
986   -0.179843
993   -0.532703
996    0.778807
998    0.270624
999    0.674098
Name: data2, Length: 439, dtype: float64
(-0.084, 1.831] 0     -0.054553
1     -1.066528
4     -0.885368
5      0.808668
7      1.252300
9     -0.272103
10    -0.573172
12    -1.472535
13    -0.615038
14    -0.349820
15     1.939050
16    -0.570151
17    -0.108668
18     0.280528
19     0.206153
22     1.616860
26     0.010382
28    -0.506036
32    -0.028606
37     0.383346
39     0.211362
42     0.034680
43    -0.680941
52    -1.325382
62     0.197951
65    -0.808783
66    -2.583766
68    -0.341880
71     1.358139
72    -0.059604
         ...
933    0.578630
937   -0.751010
939   -1.135828
940    0.001063
943   -0.309676
944   -0.353189
946   -0.390933
951   -0.026242
952    2.409617
955    0.082461
956   -1.681614
957   -0.118159
960    0.776242
964   -1.303127
969    2.072587
972   -0.198638
974   -0.460824
975    0.514411
977    0.417643
981    0.679622
983   -0.294471
984   -0.501055
987   -0.238427
989   -0.344911
990    1.623685
991   -0.107984
992   -0.733611
994    0.489864
995    0.699730
997   -1.013727
Name: data2, Length: 496, dtype: float64
(1.831, 3.746] 35    -1.353481
48    -1.047829
51    -0.538225
59     0.031561
180   -1.861783
184    1.626673
187    0.392528
242   -0.407982
249   -0.247370
257    0.066058
263    0.254589
265   -0.933062
271   -1.139580
275    2.173740
303   -0.778560
353   -1.580029
361    1.124097
367    0.548061
392   -0.885295
419    0.312922
420    0.294556
467   -0.573503
503   -0.915655
517   -2.115071
542    1.251449
552    0.518994
565    0.718613
593    1.507194
596   -0.851853
613    1.320168
614   -1.238710
648   -0.746755
672    0.097650
692    1.268778
736    0.926559
769    0.802128
848   -0.036601
857    1.021982
872   -2.041898
876   -1.140230
917    0.020398
950    1.084968
954   -0.307587
985    1.078739
Name: data2, dtype: float64

In [32]:
# do the stats in different categories
def stats(group):
    return {"min":group.min(), "max":group.max(), "mean":group.mean(), "std":group.std()}

grouped.apply(stats).unstack()

                       max      mean       min       std
data1
(-3.922, -1.999]  1.232927 -0.281541 -1.483351  0.807295
(-1.999, -0.084]  2.543808 -0.122259 -3.157927  0.957594
(-0.084, 1.831]   2.887975  0.034923 -2.716697  0.999467
(1.831, 3.746]    2.173740 -0.052242 -2.115071  1.068474

# filling missing values with group specific values

In [44]:
stats = ["Ohio", "guangdong", "shenzhen", "beijing", "dongguan", "fdsafdsa", "asd", "qwe"]
group_key = ["East"]*4 + ["West"]*4
data = pd.Series(np.random.randn(8), index=stats)
data[["fdsafdsa", "asd", "qwe"]] = np.nan
data

East   -0.479645
East    1.353970
East   -0.997328
East   -0.752822
West    0.744862
West   -0.609080
West   -0.114102
West   -0.500044
dtype: float64

In [45]:
# fill nan with mean of each group
data.groupby(group_key).apply(lambda g: g.fillna(g.mean()))

East   -0.479645
East    1.353970
East   -0.997328
East   -0.752822
West    0.744862
West   -0.609080
West   -0.114102
West   -0.500044
dtype: float64

In [46]:
# fill nan with preset value of each group
fill_values = {"East":0.5, "West":1}
data.groupby(group_key).apply(lambda g: g.fillna(fill_values[g.name]))

East   -0.479645
East    1.353970
East   -0.997328
East   -0.752822
West    0.744862
West   -0.609080
West   -0.114102
West   -0.500044
dtype: float64

# calculate weighted average on each group

In [47]:
data =  pd.DataFrame({"category": ["a"]*4+["b"]*4, "data": np.random.randn(8), "weights": np.random.randn(8)})
data

  category      data   weights
0        a -1.128277 -0.706352
1        a -0.722562 -1.168298
2        a  0.202866  0.503759
3        a -1.208555 -0.884675
4        b -1.481398  0.883854
5        b -0.392798  0.339784
6        b -1.039653 -0.425994
7        b -0.529275 -1.256042

In [49]:
data.groupby("category").apply(lambda g: np.average(data["data"], weights=data["weights"]))

category
a   -0.912825
b   -0.912825
dtype: float64

# calculate correlation on stock market

In [2]:
from pandas_datareader import data

In [3]:
tickers = ['AAPL', 'MSFT', 'XOM', 'SPX']
start_date = '2003-01-02'
end_date = '2011-10-14'
panel_data = data.DataReader(tickers, 'yahoo', start_date, end_date)

In [4]:
close_px = panel_data["Close"]
close_px.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
AAPL    2214 non-null float64
MSFT    2214 non-null float64
SPX     2196 non-null float64
XOM     2214 non-null float64
dtypes: float64(4)
memory usage: 86.5 KB

In [5]:
# 1. compute the percentage change on the close price
# 2. group by year
# 3. compare each other column with the SPX column to get the correlation value
close_px.pct_change().dropna() \
    .groupby(lambda x:x.year) \
    .apply(lambda x:x.corrwith(x["SPX"]))

Symbols      AAPL      MSFT  SPX       XOM
2003     0.006045  0.081936  1.0 -0.039144
2004    -0.048082  0.020503  1.0 -0.022044
2005    -0.094626 -0.082803  1.0  0.030674
2006    -0.066315  0.009445  1.0  0.059012
2007     0.004743 -0.001344  1.0  0.041570
2008     0.027162 -0.070410  1.0  0.034198
2009    -0.000648  0.016153  1.0 -0.071021
2010     0.040644 -0.006721  1.0  0.012071
2011     0.034015  0.085943  1.0  0.014277

In [7]:
# only compute 2 columns 
close_px.pct_change().dropna()\
    .groupby(lambda x:x.year)\
    .apply(lambda x: x["AAPL"].corr(x["MSFT"]))

2003    0.481218
2004    0.243979
2005    0.295884
2006    0.158752
2007    0.416550
2008    0.612059
2009    0.433470
2010    0.571708
2011    0.582205
dtype: float64

# apply linear regression(ordinary least squares model) on different groups

In [8]:
import statsmodels.api as sm

In [10]:
help(sm.OLS)

Help on class OLS in module statsmodels.regression.linear_model:

class OLS(WLS)
 |  OLS(endog, exog=None, missing='none', hasconst=None, **kwargs)
 |
 |  A simple ordinary least squares model.
 |
 |
 |  Parameters
 |  ----------
 |  endog : array-like
 |      1-d endogenous response variable. The dependent variable.
 |  exog : array-like
 |      A nobs x k array where `nobs` is the number of observations and `k`
 |      is the number of regressors. An intercept is not included by default
 |      and should be added by the user. See
 |      :func:`statsmodels.tools.add_constant`.
 |  missing : str
 |      Available options are 'none', 'drop', and 'raise'. If 'none', no nan
 |      checking is done. If 'drop', any observations with nans are dropped.
 |      If 'raise', an error is raised. Default is 'none.'
 |  hasconst : None or bool
 |      Indicates whether the RHS includes a user-supplied constant. If True,
 |      a constant is not checked for and k_constant is set to 1 and all
 |      result statistics are calculated as if a constant is present. If
 |      False, a constant is not checked for and k_constant is set to 0.
 |
 |
 |  Attributes
 |  ----------
 |  weights : scalar
 |      Has an attribute weights = array(1.0) due to inheritance from WLS.
 |
 |  See Also
 |  --------
 |  GLS
 |
 |  Examples
 |  --------
 |  >>> import numpy as np
 |  >>>
 |  >>> import statsmodels.api as sm
 |  >>>
 |  >>> Y = [1,3,4,5,2,3,4]
 |  >>> X = range(1,8)
 |  >>> X = sm.add_constant(X)
 |  >>>
 |  >>> model = sm.OLS(Y,X)
 |  >>> results = model.fit()
 |  >>> results.params
 |  array([ 2.14285714,  0.25      ])
 |  >>> results.tvalues
 |  array([ 1.87867287,  0.98019606])
 |  >>> print(results.t_test([1, 0]))
 |  <T test: effect=array([ 2.14285714]), sd=array([[ 1.14062282]]), t=array([[ 1.87867287]]), p=array([[ 0.05953974]]), df_denom=5>
 |  >>> print(results.f_test(np.identity(2)))
 |  <F test: F=array([[ 19.46078431]]), p=[[ 0.00437251]], df_denom=5, df_num=2>
 |
 |  Notes
 |  -----
 |  No constant is added by the model unless you are using formulas.
 |
 |  Method resolution order:
 |      OLS
 |      WLS
 |      RegressionModel
 |      statsmodels.base.model.LikelihoodModel
 |      statsmodels.base.model.Model
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, endog, exog=None, missing='none', hasconst=None, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit_regularized(self, method='elastic_net', alpha=0.0, L1_wt=1.0, start_params=None, profile_scale=False, refit=False, **kwargs)
 |      Return a regularized fit to a linear regression model.
 |
 |      Parameters
 |      ----------
 |      method : string
 |          'elastic_net' and 'sqrt_lasso' are currently implemented.
 |      alpha : scalar or array-like
 |          The penalty weight.  If a scalar, the same penalty weight
 |          applies to all variables in the model.  If a vector, it
 |          must have the same length as `params`, and contains a
 |          penalty weight for each coefficient.
 |      L1_wt: scalar
 |          The fraction of the penalty given to the L1 penalty term.
 |          Must be between 0 and 1 (inclusive).  If 0, the fit is a
 |          ridge fit, if 1 it is a lasso fit.
 |      start_params : array-like
 |          Starting values for ``params``.
 |      profile_scale : bool
 |          If True the penalized fit is computed using the profile
 |          (concentrated) log-likelihood for the Gaussian model.
 |          Otherwise the fit uses the residual sum of squares.
 |      refit : bool
 |          If True, the model is refit using only the variables that
 |          have non-zero coefficients in the regularized fit.  The
 |          refitted model is not regularized.
 |      distributed : bool
 |          If True, the model uses distributed methods for fitting,
 |          will raise an error if True and partitions is None.
 |      generator : function
 |          generator used to partition the model, allows for handling
 |          of out of memory/parallel computing.
 |      partitions : scalar
 |          The number of partitions desired for the distributed
 |          estimation.
 |      threshold : scalar or array-like
 |          The threshold below which coefficients are zeroed out,
 |          only used for distributed estimation
 |
 |      Returns
 |      -------
 |      A RegularizedResults instance.
 |
 |      Notes
 |      -----
 |      The elastic net uses a combination of L1 and L2 penalties.
 |      The implementation closely follows the glmnet package in R.
 |
 |      The function that is minimized is:
 |
 |      .. math::
 |
 |          0.5*RSS/n + alpha*((1-L1\_wt)*|params|_2^2/2 + L1\_wt*|params|_1)
 |
 |      where RSS is the usual regression sum of squares, n is the
 |      sample size, and :math:`|*|_1` and :math:`|*|_2` are the L1 and L2
 |      norms.
 |
 |      For WLS and GLS, the RSS is calculated using the whitened endog and
 |      exog data.
 |
 |      Post-estimation results are based on the same data used to
 |      select variables, hence may be subject to overfitting biases.
 |
 |      The elastic_net method uses the following keyword arguments:
 |
 |      maxiter : int
 |          Maximum number of iterations
 |      cnvrg_tol : float
 |          Convergence threshold for line searches
 |      zero_tol : float
 |          Coefficients below this threshold are treated as zero.
 |
 |      The square root lasso approach is a variation of the Lasso
 |      that is largely self-tuning (the optimal tuning parameter
 |      does not depend on the standard deviation of the regression
 |      errors).  If the errors are Gaussian, the tuning parameter
 |      can be taken to be
 |
 |      alpha = 1.1 * np.sqrt(n) * norm.ppf(1 - 0.05 / (2 * p))
 |
 |      where n is the sample size and p is the number of predictors.
 |
 |      The square root lasso uses the following keyword arguments:
 |
 |      zero_tol : float
 |          Coefficients below this threshold are treated as zero.
 |
 |
 |      References
 |      ----------
 |      Friedman, Hastie, Tibshirani (2008).  Regularization paths for
 |      generalized linear models via coordinate descent.  Journal of
 |      Statistical Software 33(1), 1-22 Feb 2010.
 |
 |      A Belloni, V Chernozhukov, L Wang (2011).  Square-root Lasso:
 |      pivotal recovery of sparse signals via conic programming.
 |      Biometrika 98(4), 791-806.
 |      https://arxiv.org/pdf/1009.5689.pdf
 |
 |  hessian(self, params, scale=None)
 |      Evaluate the Hessian function at a given point.
 |
 |      Parameters
 |      ----------
 |      params : array-like
 |          The parameter vector at which the Hessian is computed.
 |      scale : float or None
 |          If None, return the profile (concentrated) log likelihood
 |          (profiled over the scale parameter), else return the
 |          log-likelihood using the given scale value.
 |
 |      Returns
 |      -------
 |      The Hessian matrix.
 |
 |  hessian_factor(self, params, scale=None, observed=True)
 |      Weights for calculating Hessian
 |
 |      Parameters
 |      ----------
 |      params : ndarray
 |          parameter at which Hessian is evaluated
 |      scale : None or float
 |          If scale is None, then the default scale will be calculated.
 |          Default scale is defined by `self.scaletype` and set in fit.
 |          If scale is not None, then it is used as a fixed scale.
 |      observed : bool
 |          If True, then the observed Hessian is returned. If false then the
 |          expected information matrix is returned.
 |
 |      Returns
 |      -------
 |      hessian_factor : ndarray, 1d
 |          A 1d weight vector used in the calculation of the Hessian.
 |          The hessian is obtained by `(exog.T * hessian_factor).dot(exog)`
 |
 |  loglike(self, params, scale=None)
 |      The likelihood function for the OLS model.
 |
 |      Parameters
 |      ----------
 |      params : array-like
 |          The coefficients with which to estimate the log-likelihood.
 |      scale : float or None
 |          If None, return the profile (concentrated) log likelihood
 |          (profiled over the scale parameter), else return the
 |          log-likelihood using the given scale value.
 |
 |      Returns
 |      -------
 |      The likelihood function evaluated at params.
 |
 |  score(self, params, scale=None)
 |      Evaluate the score function at a given point.
 |
 |      The score corresponds to the profile (concentrated)
 |      log-likelihood in which the scale parameter has been profiled
 |      out.
 |
 |      Parameters
 |      ----------
 |      params : array-like
 |          The parameter vector at which the score function is
 |          computed.
 |      scale : float or None
 |          If None, return the profile (concentrated) log likelihood
 |          (profiled over the scale parameter), else return the
 |          log-likelihood using the given scale value.
 |
 |      Returns
 |      -------
 |      The score vector.
 |
 |  whiten(self, Y)
 |      OLS model whitener does nothing: returns Y.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from RegressionModel:
 |
 |  fit(self, method='pinv', cov_type='nonrobust', cov_kwds=None, use_t=None, **kwargs)
 |      Full fit of the model.
 |
 |      The results include an estimate of covariance matrix, (whitened)
 |      residuals and an estimate of scale.
 |
 |      Parameters
 |      ----------
 |      method : str, optional
 |          Can be "pinv", "qr".  "pinv" uses the Moore-Penrose pseudoinverse
 |          to solve the least squares problem. "qr" uses the QR
 |          factorization.
 |      cov_type : str, optional
 |          See `regression.linear_model.RegressionResults` for a description
 |          of the available covariance estimators
 |      cov_kwds : list or None, optional
 |          See `linear_model.RegressionResults.get_robustcov_results` for a
 |          description required keywords for alternative covariance estimators
 |      use_t : bool, optional
 |          Flag indicating to use the Student's t distribution when computing
 |          p-values.  Default behavior depends on cov_type. See
 |          `linear_model.RegressionResults.get_robustcov_results` for
 |          implementation details.
 |
 |      Returns
 |      -------
 |      A RegressionResults class instance.
 |
 |      See Also
 |      --------
 |      regression.linear_model.RegressionResults
 |      regression.linear_model.RegressionResults.get_robustcov_results
 |
 |      Notes
 |      -----
 |      The fit method uses the pseudoinverse of the design/exogenous variables
 |      to solve the least squares minimization.
 |
 |  get_distribution(self, params, scale, exog=None, dist_class=None)
 |      Returns a random number generator for the predictive distribution.
 |
 |      Parameters
 |      ----------
 |      params : array-like
 |          The model parameters (regression coefficients).
 |      scale : scalar
 |          The variance parameter.
 |      exog : array-like
 |          The predictor variable matrix.
 |      dist_class : class
 |          A random number generator class.  Must take 'loc' and 'scale'
 |          as arguments and return a random number generator implementing
 |          an ``rvs`` method for simulating random values. Defaults to Gaussian.
 |
 |      Returns
 |      -------
 |      gen
 |          Frozen random number generator object with mean and variance
 |          determined by the fitted linear model.  Use the ``rvs`` method
 |          to generate random values.
 |
 |      Notes
 |      -----
 |      Due to the behavior of ``scipy.stats.distributions objects``,
 |      the returned random number generator must be called with
 |      ``gen.rvs(n)`` where ``n`` is the number of observations in
 |      the data set used to fit the model.  If any other value is
 |      used for ``n``, misleading results will be produced.
 |
 |  initialize(self)
 |      Initialize (possibly re-initialize) a Model instance. For
 |      instance, the design matrix of a linear model may change
 |      and some things must be recomputed.
 |
 |  predict(self, params, exog=None)
 |      Return linear predicted values from a design matrix.
 |
 |      Parameters
 |      ----------
 |      params : array-like
 |          Parameters of a linear model
 |      exog : array-like, optional.
 |          Design / exogenous data. Model exog is used if None.
 |
 |      Returns
 |      -------
 |      An array of fitted values
 |
 |      Notes
 |      -----
 |      If the model has not yet been fit, params is not optional.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from RegressionModel:
 |
 |  df_model
 |      The model degree of freedom, defined as the rank of the regressor
 |      matrix minus 1 if a constant is included.
 |
 |  df_resid
 |      The residual degree of freedom, defined as the number of observations
 |      minus the rank of the regressor matrix.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from statsmodels.base.model.LikelihoodModel:
 |
 |  information(self, params)
 |      Fisher information matrix of model
 |
 |      Returns -Hessian of loglike evaluated at params.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from statsmodels.base.model.Model:
 |
 |  from_formula(formula, data, subset=None, drop_cols=None, *args, **kwargs) from builtins.type
 |      Create a Model from a formula and dataframe.
 |
 |      Parameters
 |      ----------
 |      formula : str or generic Formula object
 |          The formula specifying the model
 |      data : array-like
 |          The data for the model. See Notes.
 |      subset : array-like
 |          An array-like object of booleans, integers, or index values that
 |          indicate the subset of df to use in the model. Assumes df is a
 |          `pandas.DataFrame`
 |      drop_cols : array-like
 |          Columns to drop from the design matrix.  Cannot be used to
 |          drop terms involving categoricals.
 |      args : extra arguments
 |          These are passed to the model
 |      kwargs : extra keyword arguments
 |          These are passed to the model with one exception. The
 |          ``eval_env`` keyword is passed to patsy. It can be either a
 |          :class:`patsy:patsy.EvalEnvironment` object or an integer
 |          indicating the depth of the namespace to use. For example, the
 |          default ``eval_env=0`` uses the calling namespace. If you wish
 |          to use a "clean" environment set ``eval_env=-1``.
 |
 |      Returns
 |      -------
 |      model : Model instance
 |
 |      Notes
 |      -----
 |      data must define __getitem__ with the keys in the formula terms
 |      args and kwargs are passed on to the model instantiation. E.g.,
 |      a numpy structured or rec array, a dictionary, or a pandas DataFrame.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from statsmodels.base.model.Model:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  endog_names
 |      Names of endogenous variables
 |
 |  exog_names
 |      Names of exogenous variables

In [11]:
def regression(df, y_col, x_cols):
    Y = df[y_col]
    X = df[x_cols]
    X["intercept"] = 1
    result = sm.OLS(Y, X).fit()
    return result.params

In [23]:
# apply regression on each year
close_px.pct_change().dropna() \
    .groupby(lambda x:x.year) \
    .apply(lambda x: regression(x, "AAPL", ["SPX"]))

           SPX  intercept
2003  0.000742   0.001717
2004 -0.010603   0.004704
2005 -0.027325   0.003531
2006 -0.019645   0.001067
2007  0.000064   0.003653
2008  0.000402  -0.002816
2009 -0.000007   0.003820
2010  0.000323   0.001671
2011  0.001419   0.001428